% rebase('base.html', title='Page Title')
<script src="static/js/analyze.js"></script>
<div class="container theme-showcase" role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Tool name</h1>
    <p>This is a template for releasing your tool. This section is for brief description.</p>
  </div>

  <!-- Demo section -->
  % include('contents/demo.html')

  <!-- Detail of a tool -->
  % include('contents/detail.html')

  <!-- Citation of a tool -->
  % include('contents/citation.html')

</div> <!-- /container -->
