<div class="page-header">
  <h1>Demo</h1>
</div>
<p>
  Input a sentence to the text box. e.x. I am a NLP resercher.
</p>
<p>
  This example tool lowercases an input text and show a result.
</p>

<!-- This form is sent by javascript. -->
<form method="POST" action="/">
  <textarea id="input-text" class="form-control" name="sentence" rows="3" placeholder="Input a text."></textarea>
  <input id="btn-analyze" type="button" class="btn btn-default" value="Analyze">
</form>

<!-- For result -->
<table id="tbl-result" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-borderd table-hover table-responsive tbl">
  <thead>
    <tr>
      <th>Word</th>
      <th>Lower cased</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
